<link rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
<div class="jumbotron" style="font-family: 'Lobster', cursive;">
    <p
    >This is a management software for managing the events and minimize the manual work.
    </p>
    <ul>
        <li>
            Create events
        </li>
        <li>
            Auto assign tasks
        </li>
        <li>
            Task reminders & monitoring
        </li>
        <li>
            Review tasks
        </li>
        <li>
            Event reminders
        </li>
    </ul>
</div>
