<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="font-family:  'Grenze Gotisch', cursive;">Church  Management</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >About <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" *ngIf="!(isLoggedIn | async)">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="(isAdminUserObj | async)">
        <a class="nav-link" href="/addEvent">Add event</a>
      </li>
      <li class="nav-item" *ngIf="(isAdminUserObj | async)">
        <a class="nav-link" href="/addUser">Add user</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isLoggedIn | async">
        <a class="nav-link" href="#" (click)="logoutUser()">Logout</a>
      </li>
    </ul>
  </div>
  
    <div class="dropdown-menu">
      <h6 class="dropdown-header">Dropdown header</h6>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
    </div>
    
</nav>
